<template>
  <div v-if="tmProject">
    <modal-window v-model="show" @ok="createSubmit()" @cancel="cancel()" @closed="onClose()" title="Editácia kontraktu" cancelText="Zrušïť" okText="Uložiť" :medium="true">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" :class="{ 'has-error': errors.has('name') }">
              <label for="name">Meno</label>
              <input class="form-control" id="name" placeholder="Zadaj meno" v-model.trim="tmProject.name" name="name" maxlength="100" v-validate="'required|min:3|max:100'">
              <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" :class="{ 'has-error': errors.has('customer') }">
              <label>Zákazník</label>
              <v-select v-model="selectedCustomer" :options="customerOptions"></v-select>
              <input type="hidden" v-model="tmProject.customer" name="customer" id="customer" v-validate="'required'">
              <p class="text-danger" v-if="errors.has('customer')">{{ errors.first('customer') }}</p>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group" :class="{ 'has-error': errors.has('note') }">
              <label for="note">Poznámka</label>
              <textarea class="form-control" id="note" v-model.trim="tmProject.note" name="note" maxlength="300" v-validate="'max:300'" style="height: 107px;"></textarea>
              <p class="text-danger" v-if="errors.has('note')">{{ errors.first('note') }}</p>
            </div>
          </div>
        </div>
      </form>

    </modal-window>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import _ from 'lodash';
  import modal from 'vue-strap/src/Modal';
  import notificationService from 'services/notificationService';
  import vSelect from 'vue-select';

  const companyTransformation = company => ({label: company.name, value: company.id});

  export default {
    components: {modalWindow: modal, vSelect},
    data: () => ({
      show: false,
      tmProject: null,
      selectedCustomer: null
    }),
    computed: {
      ...mapGetters({
        customers: 'company/customers'
      }),
      customerOptions() {
        return (this.$store.getters['company/customers']).map(companyTransformation)
      }
    },
    props: {
      showModel: {
        type: Boolean,
        default () {
          return false;
        }
      },
      model: {
        type: Object
      }
    },
    methods: {
      createSubmit() {
        this.protect();
        this.$validator.validateAll().then((res) => {
          if (res) {
            let operation;
            if (this.tmProject.id) {
              operation = 'tmProject/update';
            } else {
              operation = 'tmProject/create';
            }
            const tmProject = _.cloneDeep(this.tmProject);
            this.$store.dispatch(operation, tmProject).then((result) => {
              if (result) {
                notificationService.success('tmProject.edit.success');
                this.$emit('close');
              } else {
                this.unprotect();
              }
            }).catch(this.unprotect);
          } else {
            this.unprotect();
          }
        }).catch(this.unprotect);
      },
      clear() {
        this.tmProject = null;
        this.selectedCustomer = null;
        this.$nextTick(() => {
          this.errors.clear();
        });
      },
      cancel() {
        this.$emit('close');
      },
      onClose() {
        this.unprotect();
        this.clear();
      }
    },
    watch: {
      showModel(showModel) {
        this.show = showModel;
      },
      model: function (model) {
        this.tmProject = _.cloneDeep(model);
        if (model && model.id) {
          this.selectedCustomer = _.find(this.customerOptions, {value: this.tmProject.customer.id});
        }
      },
      selectedCustomer: function (selectedCustomer) {
        if (!this.tmProject) return;
        this.tmProject.customer = !!selectedCustomer ? _.find(this.customers, {id: selectedCustomer.value}) : null;
      }
    },
    created() {
      this.$store.dispatch('company/getAll');
    }
  }
</script>
