<template>
  <div v-if="project">
    <div class="content-header">
      <h1>{{ project.name }}</h1>
    </div>
    <tm-order-modal :show-model="showCreateTmOrderModal" :model="selectedOrder"  @close="hideModals()"></tm-order-modal>
    <tm-delivery-modal :show-model="showCreateTmDeliveryModal" :model="selectedDelivery"  @close="hideModals()"></tm-delivery-modal>

    <section class="content">
      <div class="box">
        <div class="box-body">

          <div class="row">
            <div class="col-md-12">
              <div class="summary">
                <div class="pull-left labels">
                  <p>Zákazník</p>
                  <p>Stav</p>
                  <p v-if="project.note">Poznámka</p>
                  <p>Suma prijatých objednávok</p>
                  <p>Suma dodávkových objednávok</p>
                  <p>Suma dodávok</p>
                  <p>Zisk</p>
                </div>
                <div class="pull-left values">
                  <p>{{ project.customer.name }}</p>
                  <p>{{ project.status | codeListValue(projectStatuses) }}</p>
                  <p v-if="project.note">{{ project.note }}</p>
                  <p>{{ project.incomingOrdersSum | currency(project.currency) }}</p>
                  <p>{{ project.deliveryOrdersSum | currency(project.currency) }}</p>
                  <p>{{ project.deliveriesSum | currency(project.currency) }}</p>
                  <p>{{ project.profitSum | currency(project.currency) }}</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <tabs>
                <tab header="Prijaté objednávky">
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        <button class="btn btn-success" type="button" @click="createIncomingOrderShow()"><i class="fa fa-plus" aria-hidden="true"></i> Pridať objednávku</button>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-condensed">
                        <tbody>
                        <tr>
                          <th>Číslo</th>
                          <th>Dodávateľ</th>
                          <th>Oberateľ</th>
                          <th>Platná od</th>
                          <th>Platná do</th>
                          <th>Počet MD</th>
                          <th>Cena za MD</th>
                          <th></th>
                        </tr>
                        <tr v-for="order in project.incomingOrders">
                          <td>{{ order.number }}</td>
                          <td>{{ order.supplier.name }}</td>
                          <td>{{ order.subscriber.name }}</td>
                          <td>{{ order.validFrom | date }}</td>
                          <td>{{ order.validTo | date }}</td>
                          <td>{{ order.mdNumber }}</td>
                          <td>{{ order.mdRate | currency(order.currency) }}</td>
                          <td class="text-right">
                            <button class="btn btn-xs btn-link" @click.prevent="editOrder(order)"><i class="fa fa-2x fa-pencil-square-o text-primary" title="Editovať"></i></button>
                            <button class="btn btn-xs btn-link" @click.prevent="deleteOrder(order)"><i class="fa fa-2x fa-times text-danger" title="Zmazať"></i></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab header="Dodávkové objednávky">
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        <button class="btn btn-success" type="button" @click="createDeliveryOrderShow()"><i class="fa fa-plus" aria-hidden="true"></i> Pridať objednávku</button>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <accordion :one-at-atime="true" type="info">
                        <panel v-for="order in project.deliveryOrders" v-bind:key="order.id">
                          <strong slot="header">
                            <u>Objednávka č. {{ order.number }}, obdobie: {{ order.validFrom | date  }} - {{ order.validTo | date }}</u>
                            <div class="clearfix"></div>
                          </strong>

                          <div class="row">
                            <div class="col-md-3">
                              <div class="summary">
                                <div class="pull-left labels">
                                  <p>Číslo</p>
                                  <p>Dodávateľ</p>
                                  <p>Oberateľ</p>
                                  <p>Prijatá objednávka</p>
                                </div>
                                <div class="pull-left values">
                                  <p>{{ order.number }}</p>
                                  <p>{{ order.supplier.name }}</p>
                                  <p>{{ order.subscriber.name }}</p>
                                  <p>{{ order.mainOrder.number }}</p>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="summary">
                                <div class="pull-left labels">
                                  <p>Platná od</p>
                                  <p>Platná do</p>
                                  <p>Počet MD</p>
                                  <p>Cena za MD</p>
                                </div>
                                <div class="pull-left values">
                                  <p>{{ order.validFrom | date }}</p>
                                  <p>{{ order.validTo | date }}</p>
                                  <p>{{ order.mdNumber }}</p>
                                  <p>{{ order.mdRate | currency(order.currency) }}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="summary">
                                <div class="pull-left labels">
                                  <p>Suma</p>
                                  <p>Suma dodávok</p>
                                  <p>Zisk</p>
                                </div>
                                <div class="pull-left values">
                                  <p>{{ order.sum | currency(order.currency) }}</p>
                                  <p>{{ order.deliveriesSum | currency(order.currency) }}</p>
                                  <p>{{ order.profitSum | currency(order.currency) }}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="pull-right">
                                <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-gear"></i>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="" @click.prevent="createDeliveryShow(order)"><i class="fa fa-plus-circle text-primary"></i> Pridať dodávku</a></li>
                                    <li><a href="" @click.prevent="editOrder(order)"><i class="fa fa-pencil-square-o text-primary"></i> Editovať</a></li>
                                    <li><a href="" @click.prevent="deleteOrder(order)"><i class="fa fa-times text-danger"></i> Zmazať</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <hr>
                              <h4>Dodávky</h4>
                            </div>
                            <div class="col-md-12">
                              <table class="table table-condensed">
                                <tbody>
                                <tr>
                                  <th>Objednávka</th>
                                  <th>Obdobie</th>
                                  <th>Počet MD</th>
                                  <th>Suma</th>
                                  <th>Predaj</th>
                                  <th>Zisk</th>
                                  <th></th>
                                </tr>
                                <tr v-for="delivery in order.deliveries">
                                  <td>{{ delivery.order.number }}</td>
                                  <td>{{ delivery.period | dateMonth }}</td>
                                  <td>{{ delivery.mdNumber }}</td>
                                  <td>{{ delivery.price | currency(delivery.order.currency) }}</td>
                                  <td>{{ delivery.sell | currency(delivery.order.currency) }}</td>
                                  <td>{{ delivery.profit | currency(delivery.order.currency) }}</td>
                                  <td class="text-right">
                                    <button class="btn btn-xs btn-link" @click.prevent="editDelivery(delivery)"><i class="fa fa-2x fa-pencil-square-o text-primary" title="Editovať"></i></button>
                                    <button class="btn btn-xs btn-link" @click.prevent="deleteDelivery(delivery)"><i class="fa fa-2x fa-times text-danger" title="Zmazať"></i></button>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </panel>
                      </accordion>
                    </div>
                  </div>
                </tab>
                <tab header="Dodávky">
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        <button class="btn btn-success" type="button" @click="createDeliveryShow()"><i class="fa fa-plus" aria-hidden="true"></i> Pridať dodávku</button>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-condensed">
                        <tbody>
                        <tr>
                          <th>Objednávka</th>
                          <th>Obdobie</th>
                          <th>Počet MD</th>
                          <th>Suma</th>
                          <th>Predaj</th>
                          <th>Zisk</th>
                          <th></th>
                        </tr>
                        <tr v-for="delivery in deliveries">
                          <td>{{ delivery.order.number }}</td>
                          <td>{{ delivery.period | dateMonth }}</td>
                          <td>{{ delivery.mdNumber }}</td>
                          <td>{{ delivery.price | currency(delivery.order.currency) }}</td>
                          <td>{{ delivery.sell | currency(delivery.order.currency) }}</td>
                          <td>{{ delivery.profit | currency(delivery.order.currency) }}</td>
                          <td class="text-right">
                            <button class="btn btn-xs btn-link" @click.prevent="editDelivery(delivery)"><i class="fa fa-2x fa-pencil-square-o text-primary" title="Editovať"></i></button>
                            <button class="btn btn-xs btn-link" @click.prevent="deleteDelivery(delivery)"><i class="fa fa-2x fa-times text-danger" title="Zmazať"></i></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
              </tabs>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
  import _ from 'lodash';
  import {mapState} from 'vuex';
  import { projectStatuses } from 'codelist/';
  import { tabs, tab, accordion, panel }from 'vue-strap';
  import notificationService from 'services/notificationService';
  import tmOrderService from 'services/tmOrderService';
  import tmDeliveryService from 'services/tmDeliveryService';
  import tmOrderModal from 'components/tmOrderCreateModal';
  import tmDeliveryModal from 'components/tmDeliveryCreateModal';

  export default {

    components: {tabs, tab, accordion, panel, 'tmOrderModal': tmOrderModal, 'tmDeliveryModal': tmDeliveryModal},
    data: () => ({
      projectStatuses: projectStatuses,
      selectedOrder: null,
      selectedDelivery: null,
      showCreateTmOrderModal: false,
      showCreateTmDeliveryModal: false
    }),
    computed: mapState({
      loading: (state) => state.app.loadingData,
      project: (state) => state.tmProject.selected,
      deliveries: (state) => _.flatMap(state.tmProject.selected.deliveryOrders, 'deliveries')
    }),
    methods: {
      createIncomingOrderShow() {
        this.selectedOrder = tmOrderService.newTmOrder({
          type: 'INCOMING',
          project: this.project,
          subscriber: this.project.customer
        });
        this.showCreateTmOrderModal = true;
      },
      createDeliveryOrderShow() {
        this.selectedOrder = tmOrderService.newTmOrder({
          type: 'DELIVERY',
          project: this.project
        });
        this.showCreateTmOrderModal = true;
      },
      createDeliveryShow(order) {
        this.selectedDelivery = tmDeliveryService.newTmDelivery({
          order: order
        });
        this.showCreateTmDeliveryModal = true;
      },
      editOrder(order) {
        this.selectedOrder = _.cloneDeep(order);
        this.showCreateTmOrderModal = true;
      },
      editDelivery(delivery) {
        this.selectedDelivery = _.cloneDeep(delivery);
        this.showCreateTmDeliveryModal = true;
      },
      deleteOrder(order) {
        this.confirm('order.delete.confirmation', [order.number]).then(() => {
          this.$store.dispatch('tmOrder/delete', order.id).then((result) => {
            if (result) {
              notificationService.success('order.delete.success');
            }
          }).catch(this.unprotect);
        });
      },
      deleteDelivery(delivery) {
        this.confirm('delivery.delete.confirmation').then(() => {
          this.$store.dispatch('tmDelivery/delete', delivery.id).then((result) => {
            if (result) {
              notificationService.success('delivery.delete.success');
            }
          }).catch(this.unprotect);
        });
      },
      hideModals() {
        this.showCreateTmOrderModal = false;
        this.showCreateTmDeliveryModal = false;
      },
    },
    created() {
      this.$store.dispatch('tmProject/select', this.$store.state.route.params.id);
    }
  }
</script>
